body {
    background: url("../images/background.jpg") no-repeat center;
    -webkit-background-size:cover;
    -moz-background-size:cover;
    -o-background-size:cover;
    background-size:cover;
    color: white;
}

#canvas {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    max-width: 100%
}

.title-text {
    font-size: 30px;
    color: white;
}

.query_input_box {
    background: none;
    font-weight: bold;
    text-decoration: underline;
    border: 0;
    outline: 0;
}