body {
    background: url("../images/background.jpg") no-repeat center;
    -webkit-background-size:cover;
    -moz-background-size:cover;
    -o-background-size:cover;
    background-size:cover;
    color: white;
}

#canvas {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    max-width: 100%
}